<!DOCTYPE HTML>
<html>
		<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="icon" href="https://altvaton.sirv.com/Images/favicon.png">
		 <meta name="description" 
			content="Meow is a free to play game which rewards you with real Crypto!. You get 1000 tokens FREE. For access
							to a lot more tokens and more, consider purchasing a lootbox :)">
							<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;900&display=swap" rel="stylesheet">
	</head>
	<body style="background-color: #1f262f;">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/heart.png" style="height:40px;width:auto;"></a>
					<nav id="nav">
          <a href="/">Home</a>
          <a href="bets">Commands</a>
					<!--<a href="/arena">Gaming<sub style="font-size: 10px;">soon!</sub></a>-->
					                        <a href="tokens">Lootbox</a>

          
          <a href="about">About</a>
          <a href="account">Account</a>
        </nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="padding-bottom: 5em">
                <div class="landing">
                    <div class="desc">
                        <h1 style="font-size:60px;font-family:Inter">Welcome :)</h1>
                    </div>
                </div>
			</section>

		<!-- One -->
			<section id="one" style="padding-bottom: 5em;padding: 2em;">
                <div>
					
                    <div class="desc">
						<p style="color:rgba(242, 235, 235, 0.842);font-family: Avenir light;font-size:20px">Meow is a Sports 🏀 and Stock 📈 prediction game which rewards you with real Crypto!. You get 1000 tokens FREE. For
							more tokens, consider purchasing a lootbox :)</p>
                    </div>
					<div class="desc">
                        <h1 style="color: white;font-family: inter;font-size:20px">How it Works</h1>
						<p style="color: rgba(242, 235, 235, 0.842);font-family: Avenir light;font-size:20px">1. Acquire Tokens
						</p>
						<p style="color: rgba(242, 235, 235, 0.842);font-family: Avenir light;font-size:20px;">2. Bet Tokens on Stocks/Crypto, sports and more!
						</p>
						<p style="color: rgba(242, 235, 235, 0.842);font-family: Avenir light;font-size:20px">3. When you reach the minimum tokens, get rewarded in BTC/ETH.
						</p>
                    </div>

                    <div class="desc">
                        <h1 style="color: white;font-family: inter;font-size:20px">Our Team</h1>
                        <p style="color: rgba(242, 235, 235, 0.842);font-family: Avenir light;font-size:20px">We're always looking for great people. Hit us up.</p>
                        <p style="color: rgba(242, 235, 235, 0.842);font-family: Avenir light;font-size:20px">contact@getmeow.gg</p>
                    </div>
                </div>
			</section>
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; Impromptu <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">Contact@getmeow.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>