<!DOCTYPE HTML>
<html>
		<head>
		<title>Meow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
        <link rel="icon" href="./favicon.png">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><img src="./logo.png"></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/bets">Commands</a>
                        <a href="/tokens">Get Tokens (free!)</a>
						<a href="/about">About</a>
                        <a href="/account">Account</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="padding-bottom: 5em">
                <div class="landing">
                    <div class="desc">
                        <h1>Welcome to Meow Bot!</h1>
                    </div>
                </div>
			</section>

		<!-- One -->
			<section id="one" style="padding-bottom: 5em;padding: 3em;">
                <div>
                    <div class="desc">
                        <p>Meowbot is a simple discord based betting game which allows you to cash out winnings for DOGE, BTC or ETH! <br>Its free to play, just watch a short video ad to earn 100 tokens.</p>
                        <br>
                         <p>If you're feeling lucky consider purchasing a lootbox for 4.99 USD which
                        will gift you between <br>6000-10000 tokens, special commands and so much more. Trust me, its worth it ;)</p>
                    </div>
                    <div class="desc">
                        <h1>Our Story</h1>
                        <p>Meowbot was launched in May 2021 as a side project mainly for use amongst friends. <br>Nevertheless it has grown to encompass more
                        servers, and is still in its early stages :)</p>
                    </div>
                    <div class="desc">
                        <h1>Our Team</h1>
                        <p>If you want to join the team please email (joinus@meowbot.gg)</p><br><p>We are looking for talented people (coders, designers, mods) who 
                        want to help build this bot in exchange for payment<br>and potentially a percentage stake in Meow (If it ever becomes a company lol)</p>
                        <div>Icarus69</div>
                        <div>jimin</div>
                        <div>Dongle</div>
                    </div>
                </div>
			</section>
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; Meow.gg <span style="margin-left: 20px">Terms and Conditions</span><span style="margin-left: 20px">Support@meow.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>