<!DOCTYPE HTML>
<html>
		<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="icon" href="https://altvaton.sirv.com/Images/Drawing%20(2).png">
		 <meta name="description" 
			content="Churro is a free to play game which rewards you with real Crypto!. You get 1000 Gems FREE. For access
							to a lot more Gems and more, consider purchasing a lootbox :)">
							<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;900&family=Press+Start+2P&display=swap" rel="stylesheet">
	</head>
	<body style="    background-color:  rgb(26, 33, 42);!important;
">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/churros.png" style="height:40px;width:auto;"></a>
					<nav id="nav">
          <a href="/" style="font-family: 'Press Start 2p';font-size:10px">Home</a>
          <a href="about" style="font-family: 'Press Start 2p';font-size:10px">About</a>
           <a href="https://juicebox.money" style="font-family: 'Press Start 2p';font-size:10px">DAO</a>
          <a href="account" style="font-family: 'Press Start 2p';font-size:10px">Account</a>    
		            <a href="" style="font-family:'Press Start 2p';font-size:10px">Invite Bot</a>

        </nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style=";padding-bottom:0em">
                <div class="landing">
                    <div class="desc">
                        <h1 style="color: white;font-family: 'Press start 2p';font-size:22px;margin-bottom:34px">How it Works</h1>

                    </div>
                </div>
			</section>

		<!-- One -->
			<section id="one" style="padding-bottom: 5em;padding: 1em;">
                <div>
					
                    <div class="desc" style="margin-top: 0;">
						<a href="https://animegirl.simple.ink" style="font-family: 'Press Start 2p';color:white;">Litepaper</a>
						<p style="color:rgba(242, 235, 235, 0.842);font-family:'Press start 2p';font-size:14px;margin-top:20px">Pick your stock. 
							You get 500 Gems 💎 FREE. Use gems to purchase ETH!</p>
									          

                    </div>
					<div class="desc">
						<p style="color: rgba(242, 235, 235, 0.842);font-family:'Press start 2p';font-size:14px">1. Send SOL to the address.
						</p><br>
						<p style="color: rgba(242, 235, 235, 0.842);font-family:'Press start 2p';font-size:14px;">2. Pick 1 Ticker every day to bet on.
						</p><br>
						<p style="color: rgba(242, 235, 235, 0.842);font-family:'Press start 2p';font-size:14px">3. Finish in the top 33% and triple your crypto!
						</p><br>
                    </div>

                    <div class="desc" style="margin-bottom:30px">
                        <h1 style="color: white;font-family: 'Press start 2p';font-size:22px;margin-bottom:25px">Apply for DAO Roles</h1>
                        <p style="color: rgba(242, 235, 235, 0.842);font-family:'Press start 2p';font-size:14px">Paid roles offered :) <3</p>
                        <p style="color: rgba(242, 235, 235, 0.842);font-family:'Press start 2p';font-size:14px">careers@nori.gg</p>
<a
            style="color:white;text-decoration:none;text-align:left"
            href="https://discord.gg/zv3FJtuwb6"
            target="_blank"
            
          ><img src="https://altvaton.sirv.com/Images/discord.png" style="height:90px;text-align:left;padding-top:30px;" alt="" /></a>
                    </div>

                </div>
			</section>
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; IMPROMPTU 지민아, 사랑해 ♥️ <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">contact@churro.gg</span>
						</div>

						<ul class="icons">
							
							<li><a href="https://twitter.com/Churrobetbot" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>