<!DOCTYPE HTML>
<html>
	<head>
		<title>Meow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
        <link rel="icon" href="./favicon.png">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src="./logo.png"></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="bets">Commands</a>
                        <a href="tokens">Lootbox</a>
						<a href="about">About</a>
						<a href="/arena">Arena<sub style="font-size: 10px;">soon!</sub></a>
                        <a href="account">Account</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
                <div class="landing">
                    <div class="desc">
                        <h1>ARENA</h1>
                        <p>Bet tokens against friends and randoms on PvP/team matches across all your favourite games!</p>
                        <p>Call of Duty, Dota2, League, and more!</p> 
						<div style="display: flex;">
								<img src='./images/lol.svg' style="height:35px;margin-bottom:0px">
								<img src='./images/dota.svg' style="height:35px;margin-bottom:0px;margin-left:30px">
								<img src='./images/csgo.svg' style="height:35px;margin-bottom:0px;margin-left:30px">
								<img src='./images/cod.svg' style="height:35px;margin-bottom:0px;margin-left:30px";>
								</div>
                    </div>
                    <div class="form">
                            <button>Soon</button>
                    </div>  
                </div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<header>
								<img src='./images/coin.png' style="height:25px;margin-bottom:10px">
								<h3>Enter Bet!</h3>
							</header>
							<p>Enter a bet by sharing a custom link to your friend or entering random matchmaking. Bet either
								500/1000/5000 tokens per wager.
							</p>
							<!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
						</article>
						<article>
							<header>
								<img src='./images/arena.png' style="height:35px;margin-bottom:0px">
								<h3>Play!</h3>
							</header>
							<p>After entering a wager, play 3 matches of the chosen game. The team/person with the best 
								"score" wins.
							</p>
							<!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
						</article>
					
					</div>
				</div>
			</section>


		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; Impromptu <span style="margin-left: 20px">About</span><a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> 
							<span style="margin-left: 20px">Contact@getmeow.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>