<!DOCTYPE HTML>
<html>
	<head>
		<title>Churro Basketball</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="icon" href="https://altvaton.sirv.com/Images/churros.png">
        <meta name="description" 
			content="BetGems on the biggest sporting events daily! Soccer, Basketball and Esports for now.">
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;900&display=swap" rel="stylesheet">
    
        
	</head>
	<body onload=changeTimezone() style="background-color: rgb(26, 33, 42);">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/churros.png" style="height:50px;width:auto;"></a>
					<nav id="nav">
          <a href="/">Home</a>
          <a href="bets">Commands</a>
                     <a href="stockrace">Stock Race</a>

<!--					<a href="/tokens">Lootbox</a>
-->          
          <a href="about">About</a>
          <a href="account">Account</a>
        </nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="padding-bottom: 5em">
                <div class="landing">
                    <div class="desc">
                        <h1 style="">Daily Stock Race 🚀</h1>
                        <p style="font-size: 22px;font-family:'Avenir Light';color:white;margin-top:40px">Pick one stock 📈, Perform in the top 50% of picks, Double your tokens  💎!</p>
                                                    <img src="https://altvaton.sirv.com/Images/Screen%20Shot%202022-01-25%20at%2022.52.56.png" style="height: 450px;border-radius:15px" alt="" />

                            <div>
                            <p style="margin-bottom: 0;margin-top:20px;font-size:18px;font-family: 'Inter';
    font-weight: 300;">!invstock &lt;Code&gt;</p>
                            <p style="font-size:18px;font-family: 'Inter';
    font-weight: 300;">!invstock AAPL</p>
                            <div style="width:350px;font-size:12px;border-radius:0px">
                                <p style="width:100%;margin-bottom: 0;color:#fff;margin-top:0;font-size:18px;font-family: 'Inter';
    font-weight: 300;"><span style="font-weight: bold">Claim Winnings: </span> <span style="background-color:#1f262f;padding: 0.65em;border-radius: 4px">!claim</span></p>
                            </div>
                        </div>
                    </div>
                </div>
			</section>

		<!-- One -->
		
        	
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; IMPROMPTU 지민아, 사랑해 ♥️ <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">contact@churro.gg</span>
						</div>

						<ul class="icons">
							
							<li><a href="https://twitter.com/Churrobetbot" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script type="text/javascript">
      
            function changeTimezone() {
                    
                var values = document.getElementsByClassName("date");
                
                Object.keys(values).forEach((element) => {
                    var stillUtc = moment.utc(values[element].innerHTML, 'MM-DD hh:mm').toDate();
                    var time2 = moment(stillUtc).local().format('MM-DD hh:mm A');
                    values[element].innerHTML = time2;

            

                })
          
                    
            }
        </script>
		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>












