<!DOCTYPE HTML>
<html>
	<head>
		<title>Meow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
        <link rel="icon" href="./favicon.png">
        <script type="text/javascript">
      
            function changeTimezone() {
                    
                var values = document.getElementsByClassName("datestock");
                
                Object.keys(values).forEach((element) => {
                    var stillUtc = moment.utc(values[element].innerHTML, 'hh:mm A').toDate();
                    console.log(stillUtc)
                    var time2 = moment(stillUtc).local().format('hh:mm A');
                    values[element].innerHTML = time2;

                })
          
                    
            }
        </script>
	</head>
	<body onload=changeTimezone()>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src="./logo.png"></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="bets">Commands</a>
                        <a href="tokens">Lootbox</a>
                        <a href="about">About</a>
                        <a href="/arena">Arena<sub style="font-size: 10px;">soon!</sub></a>
                        <a href="account">Account</a>
                        
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="padding-bottom: 5em">
                <div class="landing">
                    <div class="desc">
                        <h1>Invest</h1>
                            <div>
                            <p style="margin-bottom: 0"><span style="font-weight: bold">Command:</span> !invstock &lt;Tokens&gt; &lt;Code&gt;</p>
                            <p><span style="font-weight: bold">Ex.</span> !invstock 500 AAPL</p>
                        </div>
                    </div>
                </div>
			</section>

		<!-- One -->
			<section id="one" style="padding-bottom: 5em">
                <div class="content">
                    <div class="desc">
                        <div class="tabs">
                            <a href="/bets"><img src="./images/football.svg" style="margin-left: 0"></a>
                            <a href="/betsg"><img src="./images/gamepad.svg"></a>
                            <a href="/betsbb"><img src="./images/bb.svg"></a>
                            <!--<a href="/betft"><img src="./images/footbal.svg"></a>-->
                            <a href="/betsst"><img src="./images/risk.svg" style="border-bottom: 1px solid white"></a>
                            <a href="/betscr"><img src="./images/bitcoin.svg"></a>
                            <a href="/casino"><img src="./images/cards.svg"></a>
                            <a href="/betsq"><img src="./images/q.svg"></a>
                        </div>
                        <h2>Pick which stock will rise most (from 9:30am-4pm NY Time)<br> and make 300%! 
                        Updated every week!</h2><br>
                         <h2>Place your command between the hours of <br><span class="datestock">{{time1}}</span> to <span class="datestock">{{time2}}</span> in your local time.</h2>
                        <div style="display: flex;padding: 0.2em;margin-top:40px">
                            
                            <div style="width: 90%;padding: 0.6em;">
                                <h2 style="font-weight: bold">Stock</h2>
                            </div>
                            <div style="margin-left:20px;padding: 0.6em;">
                                <h2 style="font-weight: bold">Code</h2>
                            </div>
                        </div>



                        {{#each outcomes}}
                        <div style="display: flex;background:rgb(26, 33, 42);height: fit-content;margin-top: 3px;padding: 0.2em;">
                            <div style="width:90%">
                                <div style="padding: 0.6em;">
                                    <h2>{{this.company}}</h2>
                                </div>
                            </div>
                            <div>
                                <div style="padding: 0.6em;">
                                    <h2>{{this.ticker}}</h2>
                                </div>
                            </div>
                        </div>
                        {{/each}}


                        
                        
                         
                    </div>
                </div>
			</section>
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; Meow <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">Support@meow.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>