<!DOCTYPE HTML>
<html>
	<head>
		<title>Churro Soccer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="icon" href="https://altvaton.sirv.com/Images/churros.png">
        <meta name="description" 
			content="BetGems on the biggest sporting events daily! Soccer, Basketball and Esports for now.">
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;900&display=swap" rel="stylesheet">
	</head>
	<body onload=changeTimezone()>
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/churros.png" style="height:50px;width:auto;"></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="bets">Commands</a>

                        <a href="lootbox">Lootbox</a>
                        <a href="about">About</a>
						<!--<a href="/arena">Arena<sub style="font-size: 10px;">soon!</sub></a>-->
                        <a href="account">Account</a>
                        
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="padding-bottom: 5em">
                <div class="landing">
                    <div class="desc">
                        <h3 style=";font-family:Inter">General Commands</h3>
                            <div class="tabs" style="margin-bottom:0px;">
                            <a href="/general"><img src="https://altvaton.sirv.com/Images/clipboard.png" style="margin-left: 0;border-bottom: 1px solid white"></a>
                            <!--<a href="/betsg"><img src="https://altvaton.sirv.com/Images/gamepad.svg"></a>-->
                              <a href="/bets"><img src="https://altvaton.sirv.com/Images/football.svg"></a>
                            <a href="/betsbb"><img src="https://altvaton.sirv.com/Images/bb.svg"></a>
                            <!--<a href="/betft"><img src="./images/footbal.svg"></a>-->
                            <!--                            <a href="/betsst"><img src="https://altvaton.sirv.com/Images/risk.svg"></a>
-->
                          <!--  <a href="/betscr"><img src="https://altvaton.sirv.com/Images/bitcoin.svg"></a>
-->                            <!--<a href="/casino"><img src="https://altvaton.sirv.com/Images/cards.svg"></a>-->
                            <!--<a href="/betsq"><img src="https://altvaton.sirv.com/Images/q.svg"></a>-->
                        </div>
                        <div style="display: flex;">
                           
                            <div style="width:270px;margin-top:0px">
              
                           
                            <div style="width:350px;font-size:12px;border-radius:0px;margin-top:40px">
                                <p style="width:100%;margin-bottom: 0;color:#fff;margin-top:0;font-size:18px;font-family: 'Inter';
    font-weight: 300;"><span style="font-weight: bold">Help: </span><span style="background-color:#1f262f;padding: 0.65em;border-radius: 4px">!help</span></p>
                            </div>
                            <div style="width:350px;font-size:12px;border-radius:0px;margin-top:40px">
                                <p style="width:100%;margin-bottom: 0;color:#fff;margin-top:0;font-size:18px;font-family: 'Inter';
    font-weight: 300;"><span style="font-weight: bold">Your Balance: </span><span style="background-color:#1f262f;padding: 0.65em;border-radius: 4px">!bankroll</span></p>
                            </div>
                             <div style="width:350px;font-size:12px;border-radius:0px;margin-top:40px">
                                <p style="width:100%;margin-bottom: 0;color:#fff;margin-top:0;font-size:18px;font-family: 'Inter';
    font-weight: 300;"><span style="font-weight: bold">Invite: </span><span style="background-color:#1f262f;padding: 0.65em;border-radius: 4px">!invite</span></p>
                            </div>
                             <div style="width:350px;font-size:12px;border-radius:0px;margin-top:40px">
                                <p style="width:100%;margin-bottom: 0;color:#fff;margin-top:0;font-size:18px;font-family: 'Inter';
    font-weight: 300;"><span style="font-weight: bold">Open Bets: </span><span style="background-color:#1f262f;padding: 0.65em;border-radius: 4px">!mybets</span></p>
                            </div>
                            <div style="width:350px;font-size:12px;border-radius:0px;margin-top:40px">
                                <p style="width:100%;margin-bottom: 0;color:#fff;margin-top:0;font-size:18px;font-family: 'Inter';
    font-weight: 300;"><span style="font-weight: bold">Claim Winnings: </span><span style="background-color:#1f262f;padding: 0.65em;border-radius: 4px">!claim</span></p>
                            </div>
                        </div>
                   




                        </div>
                        
                            




                    </div>
                </div>
			</section>

		<!-- One -->
			
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; IMPROMPTU 지민아, 사랑해 ♥️ <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">contact@churro.gg</span>
						</div>

						<ul class="icons">
							
							<li><a href="https://twitter.com/Churrobetbot" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

            <link rel="preconnect" href="https://fonts.gstatic.com">

			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
            <script src="./js/main.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
            <script type="text/javascript">
      
            function changeTimezone() {
                    
                var values = document.getElementsByClassName("date");
                
                Object.keys(values).forEach((element) => {
                    var stillUtc = moment.utc(values[element].innerHTML, 'MM-DD hh:mm').toDate();
                    var time2 = moment(stillUtc).local().format('MM-DD hh:mm A');
                    values[element].innerHTML = time2;

                })
          
                    
            }
        </script>        
            
           
	</body>
</html>