<!DOCTYPE HTML>
<html>
	<head>
		<title>Meow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
        <link rel="icon" href="./favicon.png">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><img src="./logo.png"></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="bets">Commands</a>
                        <a href="tokens">Lootbox</a>
						<a href="about">About</a>
						<a href="/arena">Arena<sub style="font-size: 10px;">soon!</sub></a>
                        <a href="account">Account</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
                <div class="landing">
                    <div class="desc">
                        <h1>MEOW</h1>
                        <p>Bet in game tokens on sports, stocks, casino games and cash out for Crypto! 100 tokens free per day. Buy a lootbox for more!</p>
                        <p>*Server owner awarded 5% of all tokens won on their server!</p> 
                    </div>
                    <div class="form">
                            <a style="color:white;text-decoration:none" href="https://discord.com/oauth2/authorize?client_id=834305925669584896&scope=bot&permissions=216128" target="_blank"><button id="invbut">Invite Now</button></a>
                    </div>  
                </div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<img src='./images/coin.png' style="height:25px;margin-bottom:10px">
								<h3>Acquire Tokens</h3>
							</header>
							<p>You are given 100 free tokens every day. You can also purchase a loot box ( Comes with extra surprises! ).</p>
							<!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
						</article>
						<article>
							<header>
								<img src='./images/tl.png' style="height:35px;margin-bottom:0px">
								<h3>Bet Tokens!</h3>
							</header>
							<p>Bet tokens on sports/esports, stocks, crypto and other fun casino games. Updated every week!</p>
							<!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
						</article>
						<article>
							<header>
								<img src='./images/btc.png' style="height:35px;margin-bottom:0px">
								<h3>Rewarded!</h3>
							</header>
							<p>When you reach the minimum number of tokens, provide an address, and cash out for BTC/ETH!.</p>
							<!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
						</article>
					</div>
				</div>
			</section>


		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; Meow <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> 
							<span style="margin-left: 20px">Support@meow.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>
			<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/20127876.js"></script>
<!-- End of HubSpot Embed Code -->

	</body>
</html>