<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/main.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="https://altvaton.sirv.com/Images/favicon.png" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BMZX322G5J"></script>
     <meta name="description" 
			content="Meow is a free to play game which rewards you with real Crypto!. You get 1000 tokens FREE. For access
							to a lot more tokens and more, consider purchasing a lootbox :)">
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BMZX322G5J');
</script>
  </head>
  <body>

    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/logo.png" style="height:40px;width:auto;"/></a>
        <nav id="nav">
          <a href="/">Home</a>
          <a href="bets">Commands</a>
          <a href="tokens">Lootbox</a>
          <a href="about">About</a>
						<!--<a href="/arena">Arena<sub style="font-size: 10px;">soon!</sub></a>-->
          <a href="account">Account</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span
            class="fa fa-bars"
          ></span></a>
      </div>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="landing">
        <div class="desc">
          <h1>Meow Discord Bot<sub style="font-size: 12px;">beta</sub></h1>
          <p>Bet in game tokens on sports, stocks, casino games and cash out for
            Crypto! 1000 tokens free. Buy a lootbox for more!</p>
          <p>*Server owner awarded 5% of all tokens won on their server!</p>
        </div>
        

        </div>
        <div class="form">
          <a
            style="color:white;text-decoration:none"
            href="https://discord.com/api/oauth2/authorize?client_id=834305925669584896&permissions=268511264&scope=bot"
            target="_blank"
          ><button id="invbut">Invite Now</button></a>
           <a
            style="color:white;text-decoration:none"
            href="https://discord.gg/zv3FJtuwb6"
            target="_blank"
          ><button id="invbut" style="margin-left:20px;background-color:#7289da;color:#ffffff">Our Discord</button></a>
        </div>
      </div>
      
    </section>
    <div style="width:100%;background:black;text-align:center;padding-bottom:11px;padding-top:11px;border-left:0;border-right:0">
      <h2>We Need Help! Contact us at contact@getmeow.gg to join the team! Developers, Designers, Social Media Manager and Mods needed.</h2>
    </div>

    <!-- One -->
    <section id="one" class="wrapper">
      <div class="inner">
        <div class="flex flex-3">
          <article>
            <header>
              <img
                src="https://altvaton.sirv.com/Images/coin.png"
                style="height:25px;margin-bottom:10px"
              />
              <h3>Acquire Tokens</h3>
            </header>
            <p>You are given 1000 free. You can also purchase a
              loot box ( Comes with extra surprises! ).</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </article>
          <article>
            <header>
              <img
                src="https://altvaton.sirv.com/Images/tl.png"
                style="height:35px;margin-bottom:0px"
              />
              <h3>Bet Tokens!</h3>
            </header>
            <p>Bet tokens on sports/esports, stocks, crypto and other fun casino
              games. Updated every week!</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </article>
          <article>
            <header>
              <img
                src="https://altvaton.sirv.com/Images/btc.png"
                style="height:35px;margin-bottom:0px"
              />
              <h3>Rewarded!</h3>
            </header>
            <p>When you reach the minimum number of tokens, provide an address,
              and cash out for BTC/ETH!.</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </article>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <div class="flex">
          <div class="copyright">
            &copy; Impromptu
            <a href="/privacyterm"><span style="margin-left: 20px">Terms and
                Conditions</span></a>
            <span style="margin-left: 20px">Contact@getmeow.gg</span>
          </div>

          <ul class="icons">
            <li><a href="#" class="icon fa-instagram"><span
                  class="label"
                >Instagram</span></a></li>
            <li><a href="#" class="icon fa-twitter"><span
                  class="label"
                >Twitter</span></a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/skel.min.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/main.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js-na1.hs-scripts.com/20127876.js"
    ></script>
    <!-- End of HubSpot Embed Code -->

  </body>
</html>