<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/main.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="https://altvaton.sirv.com/Images/favicon.png" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BMZX322G5J"></script>
     <meta name="description" 
			content="Churro is a platform allowing you to bet on stock and crypto prices, ">
              <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;900&display=swap" rel="stylesheet">

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BMZX322G5J');



</script>
  </head>
  <body>


    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="/" class="logo">
					<a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/churros.png" style="height:50px;width:auto;"></a>
        <!--<div class="desc" style="margin-top:0;">
          <h1 style="font-family:'Inter';font-size:20px;margin-top:10px;font-weight:800">DGX</h1>
        </div>-->
        </a>
        <nav id="nav">
          <a href="/">Home</a>
          <a href="bets">Commands</a>
          <!--<a href="tokens">Lootbox</a>-->
					<!--<a href="/arena">Gaming<sub style="font-size: 10px;">soon!</sub></a>-->
          
          <a href="about">About</a>
          <a href="account">Account</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span
            class="fa fa-bars"
          ></span></a>
      </div>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="landing">
        <div class="desc">
          <h1 style="width:80%;    font-family: 'Inter';
    font-weight: 300;line-height:1.1;margin-top:0px">Discord Soccer/NBA Betting Bot ⚽︎ 🏀. 1000 💎 tokens free, deposit ETH for more. </h1>
          </p>
          <p style="padding:20px;padding-left:30px;background:black;font-family:'Avenir Light';color:#9a9a9a;border-radius:15px">Server owner awarded 5% of tokens won on their server.</p>
        </div>
        

        </div>
        <div class="form">
          <a
            style="color:white;text-decoration:none"
            href="https://discord.com/api/oauth2/authorize?client_id=834305925669584896&permissions=268511264&scope=bot"
            target="_blank"
          >          <button type="submit" id="ethbut" style="font-weight: 600;color:white!important;font-family:'Avenir Light';margin-top:20px;background:linear-gradient(90deg,#0f36ff,#f55);;border-radius:35px;width: 227px;border:none;"; 
                        {{buttondis}}>Invite Bot</button></a>
          <!--<button id="invbut">Invite Now</button>-->

            <a
            style="color:white;text-decoration:none;text-align:left"
            href="https://discord.gg/zv3FJtuwb6"
            target="_blank"
            
          >
          <img src="https://altvaton.sirv.com/Images/discord.png" style="height:90px;text-align:left;padding-top:30px;margin-left:40px" alt="" />
</a>
      
        </div>
      </div>
     
    </section>
    <!--<div style="width:100%;background:black;text-align:center;padding-bottom:11px;padding-top:11px;border-left:0;border-right:0">
      <h2>We Need Help! Contact us at contact@churro.gg to join the team! Developers, Designers, Social Media Manager and Mods needed.</h2>
    </div>-->
    

    <!-- One -->
    <section id="one" class="wrapper">
      
      <div class="inner">

        <div class="flex flex-3">
          <article>
            <header>
              <span style="font-size: 30px;">💎</span>
              <h3 style="font-size: 20px;font-family:'Inter';font-weight:300">Acquire Tokens</h3>
            </header>
            <p style="font-size: 18px;font-family:'Avenir Light';color:rgba(242, 235, 235, 0.842)">You are given 1000 free. Deposit ETH for more!</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </article>
          <article>
            <header>
              <img
                src="https://altvaton.sirv.com/Images/tl.png"
                style="height:35px;margin-bottom:10px"
              />
              <h3 style="font-size: 20px;font-family:'Inter';font-weight:300">Stake</h3>
            </header>
            <p style="font-size: 18px;font-family:'Avenir Light';color:rgba(242, 235, 235, 0.842)">Bet tokens on NBA and Soccer. All via a Discord Command.</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </article>
          <article>
            <header>
              <img
                src="https://altvaton.sirv.com/Images/1200px-Ethereum-icon-purple.svg.png"
                style="height:35px;margin-bottom:10px;margin-left: -8px;"
              />
              <h3 style="font-size: 20px;font-family:'Inter';font-weight:300">Exit</h3>
            </header>
            <p style="font-size: 18px;font-family:'Avenir Light';color:rgba(242, 235, 235, 0.842)">Provide an address, and cash out via ETH. Simple as that.</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </article>
        </div>
      </div>
    </section>

    <!-- Footer -->
   <footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; IMPROMPTU 지민아, 사랑해 ♥️ <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">contact@churro.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/skel.min.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/main.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js-na1.hs-scripts.com/20127876.js"
    ></script>
    <!-- End of HubSpot Embed Code -->

  </body>
</html>