<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/main.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="https://altvaton.sirv.com/Images/churros.png" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BMZX322G5J"></script>
     <meta name="description" 
			content="Churro is a platform allowing you to bet on stock and crypto prices, ">
              <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;900&family=Press+Start+2P&display=swap" rel="stylesheet">
<script>


  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BMZX322G5J');

(function() {
  var start = new Date;
  start.setUTCHours(14, 30, 0);
  var end = new Date;
  end.setUTCHours(21, 30, 0); // 11pm
  function pad(num) {
    return ("0" + parseInt(num)).substr(-2);
  }
  function tick() {
    
    var date = new Date;
    var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
    date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
    console.log(now_utc, start, end)
    console.log(now_utc > start, now_utc < end, now_utc > end)
    if (now_utc > start && now_utc < end && date.getDay() !== 6 && date.getDay() !== 0) { 
      document.getElementById('time').innerHTML =
      "Market Open. Place commands after market close."
    }
    if(date.getDay() == 6 || date.getDay() == 0){
       document.getElementById('time').innerHTML =
        "Its the weekend. Have some fun :)"
    }
    if(now_utc < start && date.getDay() !== 6){
      var remain = ((start - now_utc) / 1000);
      var hh = pad((remain / 60 / 60) % 60);
      var mm = pad((remain / 60) % 60);
      var ss = pad(remain % 60);
      document.getElementById('time').innerHTML = "Place your Command";
    }
    
     
    
    setTimeout(tick, 1000);
  }
  document.addEventListener('DOMContentLoaded', tick);
})();

</script>

  </head>
  <body style="background-color:  rgb(26, 33, 42);!important">


    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="/" class="logo">
					<a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/churros.png
" style="height:40px;width:auto;"></a>
        <!--<div class="desc" style="margin-top:0;">
          <h1 style="font-family:'Inter';font-size:20px;margin-top:10px;font-weight:800">DGX</h1>
        </div>-->
        </a>
        <nav id="nav">
          <a href="/" style="font-family: 'Press Start 2p';font-size:10px">Home</a>
          <a href="about" style="font-family: 'Press Start 2p';font-size:10px">About</a>
           <a href="https://juicebox.money" style="font-family: 'Press Start 2p';font-size:10px">DAO</a>
          <a href="account" style="font-family: 'Press Start 2p';font-size:10px">Account</a>  
          <a href="" style="font-family:'Press Start 2p';font-size:10px">Invite Bot</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span
            class="fa fa-bars"
          ></span></a>
      </div>
    </header>

    <!-- Banner -->
    <section id="banner" style="background-color:  rgb(26, 33, 42);">



      <div style="display: flex;width:100%">
        <div class="landing" style="width: 100%;
    margin: auto;">
        <div class="desc">
          <!--<h1 style="width:90%;    font-family: 'Inter';
    font-weight: 300;line-height:1.1;margin-top:50px">Stock Race Bot 📈.</h1>-->
          <p style="font-size:25px;font-weight:300;width:100%;color:white;font-family:'Press start 2p';margin-bottom:25px">Enter Your Ticker</p>
          <p style="font-size:15px;font-weight:300;width:100%;color:white;font-family:'Press start 2p';margin-bottom:35px"><span style="font-size: 23px;">💎</span> 100</p>
          <form action="/auth/enter">
            <input placeholder="Ticker" style="padding:10px;height:54px;background:transparent;border:2px solid white;border-radius:10px">
            <button style="margin-left:12px;font-family:'Press start 2p';font-size:13px;height:54px;    background: linear-gradient(90deg,#0f36ff,#f55);">Enter</button>
          </form>
          <p style="margin-top: 45px;font-family: 'Press Start 2P';font-size:11px;color:white;">Or Via Discord Command</p>
          <div style="background-color: black;height:120px;width:350px;padding:20px;font-family:'Press Start 2P';border-radius:20px;padding-top:10px;margin-top:40px">
            <p style="font-family: 'Press Start 2P';font-size:11px;width:100%">!invest &lt;ticker&gt;</p>
            <p style="font-family: 'Press Start 2P';font-size:11px;width:100%">!invest AAPL</p>
          </div>
      

    
           
          
        </div>
      
        <div class="desc" style="width: 100%;">
          <h1 style="font-size:18px;font-weight:300;width:100%;margin-top:80px">Latest</h1>

          {{#if invests}}

                            {{#each invests}}
                        
                        <div style="display: flex;background:#1f262f;height: fit-content;margin-top:5px;padding: 0.2em;width:330px;border-radius:10px">
                            <div style="width:180px">
                                <div style="padding: 0.6em;">
                                    <h2>{{this.creatorName}}</h2>
                                </div>
                            </div>
                            <div>
                                <div style="padding: 0.6em;">
                                    <h2 style="color:rgb(12, 212, 99)">{{this.investAmount}} 💎</h2>
                                </div>
                            </div>
                            <div style="margin-left:10px">
                                <div style="padding: 0.2em;">
                                    <h2 style="background-color:rgb(26, 33, 42);padding: 0.65em;border-radius: 4px">{{this.Code}}</h2>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                       
                        {{/if}} 
           
                       
                        
        </div>
        

        </div>
        
       
      </div>
      
        
      </div>
      
     
    </section>
    <!--<div style="width:100%;background:black;text-align:center;padding-bottom:11px;padding-top:11px;border-left:0;border-right:0">
      <h2>We Need Help! Contact us at contact@churro.gg to join the team! Developers, Designers, Social Media Manager and Mods needed.</h2>
    </div>-->
    

    <!-- One -->
  
    <!-- Footer -->
   <footer id="footer" style="background-color: transparent;">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy;  <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">contact@churro.gg</span>
						</div>

						<ul class="icons">
							
							<li><a href="https://twitter.com/Churrobetbot" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/skel.min.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/main.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js-na1.hs-scripts.com/20127876.js"
    ></script>
    <!-- End of HubSpot Embed Code -->

  </body>
</html>



<!--       
                         <a
            style="color:white;text-decoration:none;text-align:left;margin-top:30px;margin-left:20px;margin-top: -6px;"
            href="https://discord.gg/8vpUpaPK"
            target="_blank"
            
          >
          <img src="https://altvaton.sirv.com/Images/discord.png" style="height:70px;text-align:left;padding-top:30px;margin-left:3px" alt="" />
</a>-->