<!DOCTYPE HTML>
<html>
		<head>
		<title>Account</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/main.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" href="https://altvaton.sirv.com/Images/favicon.png">
		<meta name="description" 
			content="Login to Meow via Discord! Simple as that. No need to remember new passwords or usernames.">
		
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/logo.png" style="height:40px;width:auto;"></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/bets">Commands</a>
                        <a href="/tokens">Lootbox</a>
						<a href="/about">About</a>
						<a href="/arena">Arena<sub style="font-size: 10px;">soon!</sub></a>
                        <a href="/account">Account</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="padding-bottom: 5em">
                <div class="landing">
                    <div class="desc">
                        <img src={{profileImage}}>
                        <h1>{{username}}</h1>
                    </div>
                </div>
			</section>

		<!-- One -->
			<section id="one" style="padding-bottom: 5em;padding: 3em;
    padding-top: 0em;">



                <div style="display: flex;max-width:75em;margin:auto">
                    <div class="desc" style="margin:initial;width:350px;" id="openbets">
                        <h1 style="font-size: 50px;"><img src='https://altvaton.sirv.com/Images/coin.svg' style="height:35px;margin-bottom:0;margin-right:10px">1000</h1>
                        <h1>Activate Your Account</h1>
						<div style="padding: 0.2em;">
                            
                            <div style="width: 61%;padding: 0.6em;">
                                <h2 style="font-weight: bold">Step 1</h2>
                                <p>Join a server with Meow.</p>
                            </div>
                            <div style="padding: 0.6em;">
                                <h2 style="font-weight: bold">Step 2</h2>
                                <p>Enter a command (!help or !bankroll)</p>
                            </div>
                        </div>
						
                            
                        
					</div>



						
                    </div>
                    

                   
                </div>
				 
			</section>
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; Impromptu <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">Contact@getmeow.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>
            <script src="./js/addCoins.js"></script>
			

	</body>
</html>