<!DOCTYPE HTML>
<html>
		<head>
		<title>Meow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
        <link rel="icon" href="./favicon.png">
		<script type='text/javascript'>
				function checkforvid() {
				document.getElementById('myVideo').addEventListener('ended',myHandler,false);
    			function myHandler(e) {
					alert('video is done');

    			}
				
		}
    	
	</script>
	</head>
	<body onload=checkforvid()>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><img src="./logo.png"></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/bets">Commands</a>
                        <a href="/tokens">Lootbox</a>
						<a href="/about">About</a>
						<a href="/arena">Arena<sub style="font-size: 10px;">soon!</sub></a>
                        <a href="/account">Account</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="padding-bottom: 5em">
                <div class="landing">
                    <div class="desc">
                        <h1>Lootbox!</h1>
                        <p>Trust us, the lootbox is worth it ;) Just one paid tier for now.</p>
                    </div>
                </div>
			</section>

		<!-- One -->
			<section id="one" style="padding-bottom: 5em;
    padding-top: 0em;max-width: 75em;
    margin: auto;">
                <div style="display:flex;max-width: 23em;padding:15px;padding-left: 27px;margin-top:25px;border:1px solid #fafafa">
                    <div class="desc" style="display:flex;margin-top:10px;width: 100%;">
                        <div style="width: 100%;">
							<h3>Cat Box</h3>
							<div style="display: flex;margin-top:45px;">
								<div style="width: 40%;float: left;padding-top: 5px;margin-right:36px">
									<div style="width:100%">
										<ul class="options">
											<div class="benefit"><img src='./images/coin.png' style="margin-top:0;height:18px;"><li style="margin-top:0;">15000-20000</li></div>
											<div class="benefit"><img src='./images/bingo.svg'><li>Monthly giveaway</li></div>
										</ul>
									</div>
								</div>
								<div style="width: 50%;float: left;">
								<h3>$2.99</h3>
								<form action="/pay" method="post">
									<input type="submit" value="Buy">
								</form>
								</div>


							</div>
							
						</div>


						
                    </div>
                </div>
			</section>
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; Meow <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">Support@meow.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>