<!DOCTYPE HTML>
<html>
		<head>
		<title>Tokens</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="./css/main.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" href="https://altvaton.sirv.com/Images/favicon.png">
		<meta name="description" 
			content="Purchase a lootbox for access to 15000-20000 Tokens plus a host of other benefits.">
			<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;900&display=swap" rel="stylesheet">
	</head>
	<body onload=checkforvid()>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/logo.png" style="height:40px;width:auto;"></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/bets">Commands</a>
                        <a href="/tokens">Lootbox</a>
						<a href="/about">About</a>
						<!--<a href="/arena">Arena<sub style="font-size: 10px;">soon!</sub></a>-->
                        <a href="/account">Account</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="padding-bottom: 5em">
                <div class="landing">
                    <div class="desc">
                        <h3 style="font-family:'Inter';">Lootbox</h3>
						
                    </div>
					 
                </div>
			</section>

		<!-- One -->
			<section id="one" style="padding-bottom: 5em;
    padding-top: 0em;max-width: 75em;
    margin: auto;">
                <div style="display:flex;max-width: 29em;padding:0px;padding-left: 40px;margin-top:40px;border:1px solid #fafafa;border-radius:20px">
                    <div class="desc" style="display:flex;margin-top:10px;width: 100%;">
                        <div style="width: 100%;">
							<div style="display: flex;margin-top:25px;">
								<div style="width: 40%;float: left;padding-top: 0px;margin-right:15px">
									<div style="width:100%">
										<ul class="options">
											<div class="benefit"><img src='https://altvaton.sirv.com/Images/coin.png' style="margin-top:6px;height:18px;"><li style="margin-top:0;font-family:'Avenir light';font-size:20px">15000-20000</li></div>
											<div class="benefit"><img src='https://altvaton.sirv.com/Images/cards.svg' style="margin-top:20px;height:18px;"><li style="margin-top:12px;font-family:'Avenir light';font-size:20px">Casino</li></div>
										</ul>
									</div>
								</div>
								<div style="width: 50%;float: left;">
								<h3>$3.99</h3>
								<form action="/pay" method="post">
			
															<input type="submit" value="Buy" style="font-weight: 600;;font-family:'Avenir Light';margin-top:20px;background:linear-gradient(90deg,#0f36ff,#f55);border-radius:35px;width: 187px;border:none">

								</form>
								</div>


							</div>
							
						</div>


						
                    </div>
                </div>
			</section>
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; IMPROMPTU 지민아, 사랑해 ♥️ <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">contact@getmeow.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>